<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title - ISupport</title>

    <meta name="robots" content="noindex, follow" />
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.jpg" />
    @*<link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.ico">*@
    <link href="~/Content/assets/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/vendor/ionicons.min.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/animation.css">
    <link rel="stylesheet" href="~/Content/assets/css/plugins/jqueryui.min.css">
    <link href="~/Content/assets/css/plugins/flag-icon.min.css" rel="stylesheet" />

    <!-- CSS-->
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <!-- jQuery JS -->
    <script src="~/Content/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/custom.js"></script>

    <style>

        @@media only screen and (max-width: 479px) {
            .container-topheader {
                width: 100% !important;
            }
        }

        .prod-detail img {
            height: auto;
            width: 100%;
            object-fit: contain;
            margin: auto;
        }

        @@media only screen and (max-width: 480px) {
            .Feature-tiem > a img, .product-image > a img {
                height: auto;
                min-height: 165px;
                max-height: 165px;
            }

            .shop-item > a img {
                height: auto !important;
                min-height: 165px;
                max-height: 165px;
            }
        }

        .hovereffect {
            width: 100%;
            overflow: hidden;
            position: relative;
            text-align: center;
            cursor: default;
            border-radius: 5px;
        }

            .hovereffect:hover img {
                -ms-transform: scale(2.2);
                -webkit-transform: scale(2.2);
                transform: scale(2.2);
            }

            .hovereffect img {
                display: block;
                position: relative;
                -webkit-transition: all .4s linear;
                transition: all 1.2s linear;
            }
    </style>


</head>
<body>
    <header class="fl-header">

        <!-- Header Top Start -->
        <div class="header-top-area " style="background: #464646 !important">
            <div class="container-fluid container-topheader">
                <div class="row">
                    <div class="col-lg-4 d-none d-lg-block">
                    </div>
                    <div class="col-lg-4 align-self-center text-center">
                        <p class="m-0 small" style="color: var(--Gray-f5, #F5F5F5); font-size: 12px;"><b>Above 10 BHD We Deliver FREE!</b></p>
                    </div>
                    <div class="col-lg-4 text-center">
                        <div class="social-top">
                            <ul>
                                <li>
                                    <img src="~/assets/paymentIcons/Dollar.svg" style="border-radius: 4px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/Benefit.svg" style="border-radius: 4px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/BenefitPay.svg" style="border-radius: 4px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/B.svg" style="border-radius: 4px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/StcPay.svg" style="border-radius: 4px;" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->
        <!-- haeader bottom Start -->
        <div class="haeader-bottom-area nav-bg" id="Head">
            <div class="container w-100">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-4 col-5">
                        <div class="logo-area">
                            <a href="~/home/index"><img class="main-logo" src="~/assets/img/NavBarLogo.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-8 d-none d-lg-block">
                        <div class="main-menu-area text-center">

                            @*<a asp-action="Header" asp-controller="Shared"></a>*@

                            <nav class="main-navigation">
                                <ul>
                                    <li class="">
                                        <a href="~/home/index">HOME</a>
                                    </li>
                                    <li class="">
                                        <a href="~/home/about">ABOUT US</a>
                                    </li>
                                    <li class="">
                                        <a href="~/shopservice/shop">SERVICES @* <i class="ion-android-arrow-dropdown"></i> *@</a>
                                        @* <ul class="sub-menu">
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                        </ul> *@
                                    </li>
                                    <li class="">
                                        <a href="~/shopproduct/shop">PRODUCTS @* <i class="ion-android-arrow-dropdown"></i> *@</a>
                                       @* <ul class="sub-menu">
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                            <li>Home</li>
                                        </ul> *@
                                    </li>
                                    <li style=" margin-left: 80px; padding: 0px;">
                                        <a class="btn btn-danger" style="color: #FFFFFF; padding: 6px; background: #F9444B; top: 10px;" href="https://wa.me/97335601701" target="_blank">
                                            <img src="~/assets/Group.png" />
                                            SUBMIT REQUEST
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-danger" style="padding: 6px; background: #FFFFFF; top: 10px;" href="https://wa.me/97335601701" target="_blank">
                                            <img src="~/assets/bx_message-square-dots.png" />
                                            CONSULTANCY
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>

                    <div class="col-lg-2 col-md-8 col-7">
                        <div class="right-blok-box d-flex">
                            @*                             <div class="">
                            <a href=""><img src="~/assets/user-circle-2.svg" /></a>
                            </div> *@

                            <div class="user-wrap">
                                <a href="~/product/wishlist"><img src="~/assets/wishlist.svg" /></a>
                            </div>

                            <div class="shopping-cart-wrap">
                                <a href="~/order/cart">
                                    <img src="~/assets/shopping-cart.svg" /> <span id="cart-total">0</span>
                                </a>
                                <ul class="mini-cart head-cart ">
                                </ul>
                            </div>
                            <div style="padding-left: 13px;">
                                <a href=""><img src="~/assets/search.svg" /></a>
                            </div>
                            <div class="mobile-menu-btn d-block d-lg-none">
                                <div class="off-canvas-btn">
                                    <i class="ion-android-menu">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- haeader bottom End -->
        <!-- main-search start -->
        <div class="main-search-active">
            <div class="sidebar-search-icon">
                <button class="search-close"><span class="ion-android-close"></span></button>
            </div>
            <div class="sidebar-search-input">
                <form>
                    <div class="form-search">
                        <input id="search" class="input-text" value="" placeholder="Search by flower name..." type="search">
                        <button id="search-btn" onclick="Search(); return false;" class="search-btn" type="button">
                            <i class="ion-ios-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- main-search start -->
        <!-- off-canvas menu start -->
        <aside class="off-canvas-wrapper">
            <div class="off-canvas-overlay"></div>
            <div class="off-canvas-inner-content">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#other">Other</a>
                    </li>
                </ul>
                <div class="btn-close-off-canvas">
                    <i class="ion-android-close"></i>
                </div>
                <div class="tab-content">
                    <div id="menu" class="tab-pane active">
                        <div class="off-canvas-inner">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->

                                <a asp-action="MobileNavigation" asp-controller="Shared"></a>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->
                            <!-- offcanvas widget area start -->
                            <div class="offcanvas-widget-area pt-55">
                                <div class="off-canvas-contact-widget">
                                    <ul>
                                        <li>
                                            <a href="#">03002920640 </a>
                                        </li>
                                        <li>
                                            <a href="#">krachiflora@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="off-canvas-social-widget">
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                    <a href="#"><i class="ion-social-instagram-outline"></i></a>
                                </div>

                            </div>
                            <!-- offcanvas widget area end -->
                        </div>
                    </div>
                    <div id="other" class="tab-pane">
                        <div class="off-canvas-inner">
                            <!-- mobile menu start -->
                            <div class="mobile-navigation">
                                <!-- mobile menu navigation start -->
                                <nav>
                                    <ul class="mobile-menu">
                                        <li><a href="~/home/index">Home</a></li>
                                        <li><a href="~/home/contact">Contact</a></li>
                                        <li><a href="~/home/about">About Us</a></li>

                                        <li><a href="@Url.Action("shop", "shop", new { Category = "", CategoryIDs = "", SubCategoryIDs = "",ColorIDs = "",MinPrice = "RS0",MaxPrice = "RS50000",Searchtext = "",SortID=0})">Shop</a></li>
                                        @if (Context.Session.GetString("CustomerName") != null)
                                        {
                                            <li><a href="~/account/logout">Logout</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="~/account/login_register?id=1">Login</a></li>
                                        }
                                        <li><a href="~/home/Policy">Policy</a></li>
                                        <li><i class="fa fa-icon-globe"></i><a onclick="_lang(); return false;" id="_lang">عربى</a></li>
                                    </ul>
                                </nav>
                                <!-- mobile menu navigation end -->
                            </div>
                            <!-- mobile menu end -->

                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- off-canvas menu end -->
    </header>

    <div class="main-wrapper">
        @RenderBody()
    </div>

    <footer>
        <div class="footer-top section-pb pt-20 pb-20">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2">
                        <div class="widget-footer mt-20">
                            <div class="footer-logo">
                                <a href="~/home/index"><img src="~/assets/img/logo-footer.svg" style=" width: 184px;" alt=""></a>
                            </div>
                            <p style="color: #FFFFFF; margin-left: 30px; margin-top: 20px;">Stay in touch with us</p>
                            <div style="margin-left: 31px;">
                                @*<a href="https://www.tiktok.com/@isupport.bh" target="_blank">
                                <img src="~/assets/footerIcons/icn-tiktok.svg" style="padding: 3px;" />
                                </a>*@
                                <a href="#" target="_blank">
                                    <img src="~/assets/footerIcons/icn-tiktok.svg" style="padding: 3px;" />
                                </a>
                                <a href="https://www.facebook.com/iSupport.BH" target="_blank"><img src="~/assets/footerIcons/icn-fb.svg" style="padding: 3px;" /></a>
                                <a href="https://www.instagram.com/isupport.bh/" target="_blank"><img src="~/assets/footerIcons/icn-insta.svg" style="padding: 3px;" /></a>
                                <a href="https://wa.me/97335601701" target="_blank">
                                    <img src="~/assets/footerIcons/icn-whatsapp.svg" style="padding: 3px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-2 col-md-2">
                        <div class="widget-footer mt-30" style="color: #FFFFFF;">
                            <h6 class="title-widget" style="color: #FFFFFF;">INFORMATION</h6>
                            <ul class="footer-list">
                                <li><a href="~/home/contact">Contact</a></li>
                                <li><a href="~/home/index">FAQs</a></li>
                                <li><a href="~/home/Policy" target="_blank">Privacy Policy</a></li>
                                <li><a href="~/home/Policy" target="_blank">Terms and Conditions</a></li>
                                <li><a href="~/home/Policy" target="_blank">Return and Refund Policy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1"></div>
                    <div class="col-lg-3 col-md-3">
                        <div class="widget-footer mt-30" style="color: #FFFFFF;">
                            <h6 class="title-widget capitalize" style="color: #FFFFFF;">SUBSCRIBE OUR NEWSLETTER</h6>
                            <ul class="footer-contact">
                                <li><p>Get the latest offers & promotions!</p></li>
                                <li>
                                    <div class="input-group">
                                        <input type="text" class="form-control rounded-0" placeholder="Enter your email" style="border-top-left-radius:5px !important; border-bottom-left-radius:5px !important;">
                                        <div class="input-group-append">
                                            <a class="btn btn-small rounded-0 btn-newsletter"><i class="ion-paper-airplane newsletter-icon" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </li>
                                <li><label>Phone: +973 35 601 701</label></li>
                                <li><label>EMAIL: booking@isupportbh.com</label></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3">
                        <div class="widget-footer mt-30" style="color: #FFFFFF;">
                            <h6 class="title-widget capitalize" style="color: #FFFFFF;">DOWNLOAD APP</h6>
                            <ul class="footer-contact">
                                <li>
                                    <a href="https://apps.apple.com/dk/app/isupport/id6448851399" target="_blank">
                                        <img src="~/assets/footerIcons/google-play.svg" />
                                    </a>
                                    <a href="https://play.google.com/store/search?q=ISupport&c=apps" target="_blank">
                                        <img src="~/assets/footerIcons/app-store.svg" />
                                    </a>
                                </li>
                            </ul>
                            <h6 class="mt-30" style="color: #FFFFFF;">WE ACCEPT</h6>
                            <ul class="footer-contact" style="display:flex;">
                                <li>
                                    <img src="~/assets/paymentIcons/Dollar.svg" style="border-radius: 4px; " />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/Benefit.svg" style="border-radius: 4px; margin-left: 5px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/BenefitPay.svg" style="border-radius: 4px; margin-left: 5px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/B.svg" style="border-radius: 4px; margin-left: 5px;" />
                                </li>
                                <li>
                                    <img src="~/assets/paymentIcons/StcPay.svg" style="border-radius: 4px; margin-left: 5px;" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toast toast-pos" style="z-index:10000000">
            <div class="toast-header border-0 bg-transparent">
                <strong class="mr-auto toast-head-text ">Item Added</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body">
                New Item added to cart
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right-text text-center" style="color: #FFF; font-size: 12px;">
                            <p>Copyright &copy; 2023 Airtech Solutions. All Right Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <style>
        .modal-content {
            border-radius: 1rem
        }

            .modal-content:hover {
                box-shadow: 2px 2px 2px black
            }

        .b1 {
            background-color: #2b84be;
            box-shadow: 0px 4px #337095;
            font-size: 17px
        }

        .r3 {
            color: #c1c1c1;
            font-weight: 500
        }
    </style>
    <div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content p-4 text-center">
                <h3 id="modalTitle" style=" color: #009688; font-family: 'AlexBrush';"></h3>
                <div>
                    <img id="modalImg" src="" />
                </div>
                <p class="r3 px-md-5 px-sm-1" id="modalDescription"></p>
                <div class="text-center mb-3"> <a class="btn btn-primary rounded-pill b1" style=" background: #009688; color: white;" id="modalButton">View Details</a> </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            var options = {
                whatsapp: "+973 3560 1701", // WhatsApp number
                call_to_action: "Message us", // Call to action
                position: "right", // Position may be 'right' or 'left'
                pre_filled_message: "How can i help you", // WhatsApp pre-filled message
            };
            var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <script src="~/Content/assets/sweetalert.min.js"></script>
    <!-- JS -->
    <script src="~/Content/assets/js/product-menu.js"></script>
    <!-- Modernizer JS -->
    <script src="~/Content/assets/js/vendor/modernizr-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Content/assets/js/vendor/popper.min.js"></script>
    <script src="~/Content/assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="~/Content/assets/js/plugins/slick.min.js"></script>
    <!--  Jquery ui JS -->
    <script src="~/Content/assets/js/plugins/jqueryui.min.js"></script>
    <!--  Scrollup JS -->
    <script src="~/Content/assets/js/plugins/scrollup.min.js"></script>
    <script src="~/Content/assets/js/plugins/ajax-contact.js"></script>

    <script src="~/Content/assets/js/cookie/js.cookie.js"></script>
    <script src="~/Content/assets/js/cookie/js.cookie.min.js"></script>

    <!-- Main JS -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", false)

    <script>


        var input = document.getElementById("search");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("search-btn").click();
            }
        });

        window.onscroll = function () { myFunction() };

        var header = document.getElementById("Head");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("nav-fixed-top");
            } else {
                header.classList.remove("nav-fixed-top");
            }
        }
        function Search() {
            var Searchtxt = $("#search").val();


            window.location.href = '/shop/shop?Category=""&CategoryIDs=' + '' + '&SubCategoryIDs=' + "" + '&ColorIDs=' + '' + '&MinPrice=' + 'RS0' + '&MaxPrice=' + 'RS50000' + '&Searchtext=' + Searchtxt + '&SortID=' + 0 + '';
        }

    </script>

    @*<script src="~/language/translations.js"></script>*@
</body>
</html>
