@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .btn-default {
        color: #ffffff !important;
        background-color: #152b3c !important;
        border-color: #152b3c !important;
    }


        .btn-default:hover {
            color: #152b3c !important;
            background-color: white !important;
            border-color: #152b3c !important;
        }

    .btn::before, .btn-2::before {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 0;
        width: 150%;
        background-color: white;
        color: #000 !important;
        transition: all 0.3s ease 0s;
        content: "";
        transform: translateX(-50%) translateY(-50%) rotate(-10deg);
        opacity: 0;
        z-index: -1;
    }
</style>

@* <div class="hero-slider hero-slider-one ">
    <div class="single-slide" style="background-image: url('@Url.Content("~/Content/assets/images/banner/slider-1.png")')" ; background-size:cover;">
    </div>
</div> *@
<div>
    <img src="~/assets/Wishlist.png" />
</div>
<!-- main-content-wrap start -->
<div class="main-content-wrap section-ptb wishlist-page">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" class="cart-table">
                    <div class=" table-content table-responsive">
                        <table id="ytdTable" class="table">
                            <thead>
                                <tr>
                                    <th class="plantmore-product-thumbnail">Images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="plantmore-product-price">Unit Price</th>
                                    <th class="plantmore-product-stock-status">Stock Status</th>
                                    <th class="plantmore-product-add-cart">Add to cart</th>
                                    <th class="plantmore-product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody class="wishlist-items">
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 
