@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-lg-12">
            <h3>FAQs</h3>
        </div>
        <div class="col-lg-12">
            <br />
            <p>
                <b>• How do I place an order?</b>
            </p>
            <p>
                To place an order, you need to select the product you want to purchase, add it to your cart, and proceed to checkout. You will need to provide your shipping address, payment information, and review your order before submitting it.
            </p>
            <p>
                <b>• What payment methods do you accept?</b>
            </p>
            <p>
                We accept a variety of payment methods including credit/ debit cards, PayPal, and other online payment systems. Some stores may also offer cash on delivery or bank transfer options.
            </p>
            <p>
                <b>• Can I cancel or change my order after it has been placed?</b>
            </p>
            <p>
                It may be possible to cancel or change your order, but it depends on the specific stores policies. Contact customer support as soon as possible to see if any changes can be made.
            </p>
            <p>
                <b>• How do I track my order?</b>
            </p>
            <p>
                Once your order has been shipped, you will receive a tracking number via email or text message. You can use this number to track your package through the shipping carriers website.
            </p>
            <p>
                <b>• What is your return Policy?</b>
            </p>
            <p>
                Each Store may have its own return policy. Check the stores website or contact customer support for details. Generally, returns are accepted within a certain time frame and must meet certain criteria, such as being in new and unused condition.
            </p>
        </div>
    </div>
    <br />
</div>
