@{
    ViewData["Title"] = "Return and Refund Policy";
}


<div class="container">
    <div class="row">
        <div class="col-lg-9 col-md-9">
            <br />
            <h3>Return and Refund Policy</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <p>

                • Return Flexibility: You have a 7-day window from the purchase date to initiate a return for your tech product.

            </p>
            <p>
                
                    • Fair Verification Process: For a fair deal, we check returned items before issuing refunds. Your money will be returned once we confirm the product's condition.
                
            </p>
            <p>
                
                    • Quality Assurance: We thoroughly inspect returned items for any signs of damage. Refunds won't be issued for broken or visibly worn products.
                
            </p>
            <p>
                
                    • Defective or Incorrect Product: If you receive a defective or incorrect product, connect with our customer support for a immediate response.
                
            </p>
            <p>
                
                    • Defective or Incorrect Product: If you receive a defective or incorrect product, connect with our customer support for a immediate response.
                
            </p>
        </div>
    </div>
    <br />
</div>
